
/* Section - Início
/* ******************************************** */

.box1 {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  /* background-color: #191970; */
}

.section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  /* background-color: #FDF5E6; */
}

.section-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: #FAEBD7; */
}

.section-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  padding: 50px 20px;
  margin: 0 auto;
  /* background-color: #F0FFF0; */
}

  .section-row.small-pad {
    padding: 25px 15px;
  }

  .section-row.no-pad {
    padding: 0;
  }

    .section-row.no-pad.tb {
      padding: 50px 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-row.no-pad.lr {
      padding: 50px 20px;
      padding-left: 0;
      padding-right: 0;
    }

  .section-row.no-pad.bt {
    padding-bottom: 0;
  }

  .section-row.full-width {
    max-width: none;
    width: 100%;
  }

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-row {
    width: 680px;
    padding: 100px 40px;
  }

  .section-row.small-pad {
    width: 720px;
    padding: 50px 20px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-row {
    width: 880px;
  }

  .section-row.small-pad {
    width: 920px;
  }
}

/* LARGE SCREEN (>1199px) */
/* Mudar o valor para a max-width do .section-wrapper */
@media only screen and (min-width: 1199px) {
  .section-row {
    width: calc(100% - 80px);
  }

  .section-row.small-pad {
    width: calc(100% - 40px);
  }
}

/* Section - Fim
/* ******************************************** */


/* Section Column - Início
/* ******************************************** */

.section-columns {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.section-column {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  padding: 20px 0;
}

  .section-column.small-pad {
    padding: 10px 0;
  }

  .section-column.no-pad {
    padding: 0;
  }

    .section-column.no-pad.tb {
      padding: 50px 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-column.no-pad.lr {
      padding: 50px 0;
      padding-left: 0;
      padding-right: 0;
    }

  .section-column.no-pad-bottom {
    padding-bottom: 0;
  }

  .section-column.full-width {
    max-width: none;
    width: 100%;
  }

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-columns {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* Section Column - Fim
/* ******************************************** */


/* Section Titles - Início
/* ******************************************** */

.section-titles {
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-title {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  color: #464646;
  font-size: 24px;
  font-weight: 400;
}

.section-title.light { font-weight: 300; }

.section-title.bold { font-weight: 700; }

.section-subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  color: #848484;
  font-size: 21px;
  font-weight: 400;
}

.section-subtitle.light { font-weight: 300; }

.section-subtitle.bold { font-weight: 700; }

.section-text {
  position: relative;
  color: #464646;
  margin: 0;
  margin-bottom: 26px;
  font-size: 15px;
}

  .section-text:last-child {
    margin-bottom: 0px;
  }

  .section-text p:last-child {
    margin-bottom: 0px;
  }

.section-text.light { font-weight: 300; }

.section-text.bold { font-weight: 700; }

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-titles {
    margin-bottom: 24px;
  }

  .section-title {
    font-size: 36px;
  }

  .section-subtitle {
    font-size: 26px;
  }

  .section-text {
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-titles {
    margin-bottom: 24px;
  }

  .section-title {
    font-size: 42px;
  }

  .section-subtitle {
    font-size: 28px;
  }

  .section-text {
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* Section Titles - Fim
/* ******************************************** */


/* Section Row Titles - Início
/* ******************************************** */

.section-row > .section-titles {
  text-align: center;
}

.section-row > .section-titles .section-text {
  margin: 0 auto;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-row > .section-titles {
    width: 560px;
  }

  .section-row > .section-titles .section-text {
    width: 590px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-row > .section-titles {
    width: 560px;
  }

  .section-row > .section-titles .section-text {
    width: 590px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .section-row > .section-titles {
    width: 800px;
  }

  .section-row > .section-titles .section-text {
    width: 590px;
  }
}

/* Section Row Titles - Fim
/* ******************************************** */


/* Section Column Titles - Início
/* ******************************************** */

.section-column:nth-child(odd) .section-titles {
  text-align: left;
}

.section-column:nth-child(even) .section-titles {
  text-align: right;
}

/* Section Column Titles - Fim
/* ******************************************** */
