@font-face {
    font-family: 'Champagne & Limousines';
    src: url('ChampagneLimousines.eot');
    src: url('ChampagneLimousines.eot?#iefix') format('embedded-opentype'),
        url('ChampagneLimousines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('ChampagneLimousines-Italic.eot');
    src: url('ChampagneLimousines-Italic.eot?#iefix') format('embedded-opentype'),
        url('ChampagneLimousines-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('ChampagneLimousines-BoldItalic.eot');
    src: url('ChampagneLimousines-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ChampagneLimousines-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('ChampagneLimousines-Bold.eot');
    src: url('ChampagneLimousines-Bold.eot?#iefix') format('embedded-opentype'),
        url('ChampagneLimousines-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}