@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Light.eot');
    src: url('NeoSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-LightItalic.eot');
    src: url('NeoSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Regular.eot');
    src: url('NeoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Italic.eot');
    src: url('NeoSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Medium.eot');
    src: url('NeoSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Bold.eot');
    src: url('NeoSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-BoldItalic.eot');
    src: url('NeoSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neo Sans Pro Ultra';
    src: url('NeoSansPro-Ultra.eot');
    src: url('NeoSansPro-Ultra.eot?#iefix') format('embedded-opentype'),
        url('NeoSansPro-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
