/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #FFF;
  font-family: 'Champagne & Limousines', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */


/* Header - Início
/* ******************************************** */

.header::before {
  content: '';
  display: none;
  position: absolute;
  top: -15px;
  left: -20px;
  width: 125px;
  height: 200px;
  background-color: rgba(0, 0, 0, 1.0);
  transform: rotate(12deg);
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Header - Fim
/* ******************************************** */


/* Navbar - Início
/* ******************************************** */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: 125px;
  width: auto;
  height: auto;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  height: 100%;
}

.navbar-left {
  justify-content: flex-start;
  margin-right: 140px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.navbar-right {
  justify-content: flex-end;
  margin-left: 140px;
}

.navbar-logo {
  position: relative;
  width: auto;
  height: 100px;
}

.navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
  margin-top: -4px;
}

.navbar-menu {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar-menu.is-open {
  display: flex;
}

.navbar-menu li {
  margin: 0;
}

.navbar-menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  transition: all 160ms ease-out;
  z-index: -1;
}

.navbar-menu a {
  position: relative;
  padding: 8px 12px;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 160ms ease-out;
}

.navbar-menu a:focus::before,
.navbar-menu a:hover::before {
    top: 0;
}

.navbar-menu a:focus,
.navbar-menu a:hover {
  color: #000;
}

/* Navbar - Fim
/* ******************************************** */


/* Hero - Início
/* ******************************************** */

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
}

.hero-slides {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.hero-slide::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.34) 59%, rgba(0,0,0,0.6) 77%, rgba(0,0,0,0.66) 91%, rgba(0,0,0,0.7) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(22%, rgba(0,0,0,0)), color-stop(35%, rgba(0,0,0,0)), color-stop(59%, rgba(0,0,0,0.34)), color-stop(77%, rgba(0,0,0,0.6)), color-stop(91%, rgba(0,0,0,0.66)), color-stop(100%, rgba(0,0,0,0.7)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.34) 59%, rgba(0,0,0,0.6) 77%, rgba(0,0,0,0.66) 91%, rgba(0,0,0,0.7) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.34) 59%, rgba(0,0,0,0.6) 77%, rgba(0,0,0,0.66) 91%, rgba(0,0,0,0.7) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.34) 59%, rgba(0,0,0,0.6) 77%, rgba(0,0,0,0.66) 91%, rgba(0,0,0,0.7) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.34) 59%, rgba(0,0,0,0.6) 77%, rgba(0,0,0,0.66) 91%, rgba(0,0,0,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

}

.hero-slide::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 33, 79, .6);
  background-blend-mode: multiply;
}

.hero-slide {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 20% 70%;
}

.hero-titles::before {
  content: '';
  display: none;
  position: absolute;
  top: -25px;
  width: 10%;
  height: 4px;
  background-color: #FCC633;
}

.hero-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0 20px;
  width: calc(100% - 40px);
  margin-top: 100px;
  z-index: 400;
}

.hero-titles p {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #fff;
  font-family: 'Lemon/Milk', sans-serif;
  text-align: center;
}

.hero-pretitle {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.hero-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .hero-pretitle {
    font-size: 18px;
  }
  
  .hero-title {
    font-size: 54px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}

/* LARGE SCREEN (>1350px) */
@media only screen and (min-width: 1350px) {
  .hero-wrapper { width: 1350px; }
}

/* Hero - Fim
/* ******************************************** */


/* Section - Início
/* ******************************************** */

.section-wrapper {
  max-width: 1200px;
}

/* Section - Fim
/* ******************************************** */


/* Section One - Início
/* ******************************************** */

.section-one .section-column.auto {
  margin: 0 auto;
}

.section-one .section-titles {
  width: auto;
  margin: 0 auto;
}

.section-one .section-title::before {
  content: '';
  display: block;
  position: absolute;
  left: -2%;
  bottom: -3px;
  width: 105%;
  height: 8px;
  background-color: rgba(47, 33, 79, 0.5);
  transform: skew(-25deg) rotateZ(-0.5deg) translateX(-10px) translateY(-5px);
  z-index: -1;
}

.section-one .section-title {
  color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.section-one .section-subtitle {
  color: rgba(0, 0, 0, 0.7);
}

.section-one .section-text {
  z-index: 1;
}

.section-one .section-text ul {
  padding: 0;
  list-style-type: none;
}

.section-one .section-text li {
  padding: 0;
  margin: 5px 0;
  font-size: 18px;
}

.section-one .form {
  display: block;
  margin: 50px auto 0 auto;
  padding: 0 20px;
  width: calc(100% - 40px);
}

.section-one form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.section-one .inputs {
  margin: 0 auto;
  width: 100%;
}

.section-one label {
  font-size: 13px;
  font-weight: 600;
}

.section-one textarea,
.section-one select,
.section-one input {
  font-size: 18px;
  font-weight: 600;
}

.section-one textarea {
  height: 100px;
}

.section-one .btn-submit {
  display: block;
  position: relative;
  margin: 40px auto 0 auto;
  padding: 10px 20px;
  width: auto;
  color: #423560;
  border: 1px solid #423560;
  font-weight: 600;
  text-decoration: none;
  transition: all 160ms ease-out;
}

.section-one .btn-submit:hover {
  color: #fff;
  background-color: #423560;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-one .section-title::before {
    height: 16px;
  }

  .section-one .section-text li {
    font-size: 24px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-one .section-text {
    font-size: 20px;
  }
  
  .section-one .section-text li {
    font-size: 32px;
  }
}


/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .section-one .section-column.auto {
    margin: 0;
  }
}

/* Section One - Fim
/* ******************************************** */


/* Section Two - Início
/* ******************************************** */

.section-two {
  overflow: hidden;
}

.section-two .section-column.auto {
  margin: 0 auto;
}

.section-two .section-columns::before {
  content: '';
  display: block;
  position: absolute; 
  top: -25px;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 50px);
  background-color: #423560;
}

.section-two .section-columns {
  align-items: center;
}

.section-two .section-title::before {
  content: '';
  display: block;
  position: absolute;
  left: -2%;
  bottom: 0;
  width: 105%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  transform: skew(-25deg) rotateZ(-0.5deg) translateX(-10px) translateY(-5px);
  z-index: -1;
}

.section-two .section-title {
  color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.section-two .section-text {
  max-width: 475px;
  color: rgba(255, 255, 255, 1);
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-two .section-title::before {
    height: 16px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-two .section-columns::before {
    left: -50px;
    width: 150%;
  }

  .section-two .section-text {
    font-size: 20px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .section-two .section-column.auto {
    margin: 0;
  }
}

/* Section Two - Fim
/* ******************************************** */


/* Picture Switcher - Início
/* ******************************************** */

.picture-switcher {
  display: block;
  position: relative;
  width: 250px;
  height: 150px;
  margin: 0 auto;
  margin-top: 15px;
}

.picture-switcher .picture {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-left: -5px;
}

.picture-switcher .picture:nth-child(1) {
  transform: translateX(15px) translateY(-15px);
}

.picture-switcher .picture:nth-child(1)::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.picture-switcher .picture-two {}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {
  .picture-switcher {
    width: 275px;
    height: 175px;
  }
}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .picture-switcher {
    width: 300px;
    height: 200px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .picture-switcher {
    width: 375px;
    height: 250px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .picture-switcher {
    margin-top: 80px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .picture-switcher {
    width: 450px;
    height: 300px;
    margin-top: 35px;
  }
}

/* Picture Switcher - Fim
/* ******************************************** */


/* Dyn Slider - Início
/* ******************************************** */

.dyn-slider {
  display: block;
  position: relative;
  width: 300px;
  height: 200px;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}

.dyn-slider .pictures {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}

.dyn-slider .picture {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dyn-slider .picture figure {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dyn-slider .picture a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(30px) scale(0.85);
  -moz-transform: translateZ(30px) scale(0.85);
  -webkit-transform: translateZ(30px) scale(0.85);
}

.dyn-slider .picture img {
  display: none;
}

.dyn-slider .picture-arrows {
  display: block;
  position: absolute;
  top: 45%;
  left: -5%;
  width: 110%;
  height: auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dyn-slider .line-arrow {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  z-index: 1;
}

.dyn-slider .line-arrow.left {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  transform: rotate(-44deg) skew(-20deg, -20deg) translateZ(30px);
  left: 25px;
}

.dyn-slider .line-arrow.right {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  transform: rotate(44deg) skew(20deg, 20deg) translateZ(30px);
  right: 25px;
}

.dyn-slider .line-arrow:hover,
.dyn-slider .line-arrow.active {
  border-width: 2px;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {
  .dyn-slider {
    width: 300px;
    height: 200px;
  }

  .dyn-slider .picture-arrows {
    left: -25%;
    width: 150%;
  }

  .dyn-slider .line-arrow.left {
    transform: rotate(-44deg) skew(-20deg, -20deg) translateZ(30px);
    left: 25px;
  }

  .dyn-slider .line-arrow.right {
    transform: rotate(44deg) skew(20deg, 20deg) translateZ(30px);
    right: 25px;
  }
}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .dyn-slider {
    width: 325px;
    height: 225px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {
  .dyn-slider {
    width: 400px;
    height: 275px;
  }

  .dyn-slider .picture-arrows {
    left: -20%;
    width: 140%;
  }
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .dyn-slider {
    width: 475px;
    height: 350px;
  }

  .dyn-slider .picture-arrows {
    left: -20%;
    width: 140%;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .dyn-slider {
    width: 400px;
    height: 275px;
  }

  .dyn-slider .picture-arrows {
    left: -20%;
    width: 140%;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .dyn-slider {
    width: 525px;
    height: 300px;
  }

  .dyn-slider .picture-arrows {
    left: -20%;
    width: 140%;
  }

  .dyn-slider .line-arrow {
    width: 65px;
    height: 65px;
  }
}

/* Dyn Slider - Fim
/* ******************************************** */


/* Google Map - Início
/* ******************************************** */

.google-map {
  display: block;
  position: relative;
  width: 100%;
  height: 400px;
}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .google-map::after {
    content: '';
    display: block;
    position: absolute;
    top: -50%;
    left: -25%;
    width: 75%;
    height: 160%;
    background-color: #fff;
    transform: rotateZ(10deg);
    z-index: 0;
  }

  .google-map {
    margin-bottom: 75px;
    position: absolute !important;
    top: 50px;
    right: 0;
    width: 100vw;
    height: 425px;
  }
}
/* Google Map - Fim
/* ******************************************** */


/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}




/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
