/**
* ********************************************
*
* MOBILE / SMALL SCREEN (0px - 480px)
*
* ********************************************
*/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
  max-height: none;
  background-color: #FFF;
  font-family: 'Champagne & Limousines', sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #0069ab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Scrollbar - Início
/* ******************************************** */

::-webkit-scrollbar {}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}

/* Scrollbar - Fim
/* ******************************************** */



/* Social Icons - Início
/* ******************************************** */

.social-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.social-icons .social-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  text-decoration: none;
}

.social-icons .social-icon:nth-child(1) {
  margin-left: 0;
}

.social-icons .social-icon svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

.social-icons .social-icon svg * {
  fill: #FFF;
}

.social-icons .social-icon:hover svg * {
  fill: #000;
}

/* Social Icons - Fim
/* ******************************************** */



/* Header - Início
/* ******************************************** */

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Header - Fim
/* ******************************************** */


/* Navbar - Início
/* ******************************************** */

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: 125px;
  width: auto;
  height: auto;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  height: 100%;
}

.navbar-left {
  justify-content: flex-start;
  margin-right: 140px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.navbar-right {
  justify-content: flex-end;
  margin-left: 140px;
}

.navbar-logo {
  position: relative;
  width: auto;
  height: 100px;
}

.navbar-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
  margin-top: -4px;
}

.navbar-menu {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar-menu.is-open {
  display: flex;
}

.navbar-menu li {
  margin: 0;
}

.navbar-menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  transition: all 160ms ease-out;
  z-index: -1;
}

.navbar-menu a {
  position: relative;
  padding: 8px 12px;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-family: 'Champagne & Limousines', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 160ms ease-out;
}

.navbar-menu a:focus::before,
.navbar-menu a:hover::before {
    top: 0;
}

.navbar-menu a:focus,
.navbar-menu a:hover {
  color: #000;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}


/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  /*.navbar { width: 1350px; }
}

/* Navbar - Fim
/* ******************************************** */


/* Hamburger Icon - Início
/* ******************************************** */

.hamburger {
  outline: none;
  margin-top: 7px;
}

.hamburger.is-active {}

.hamburger.is-active .hamburger-inner::before {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .hamburger {
    display: none;
  }
}

/* Hamburger Icon - Fim
/* ******************************************** */


/* Breadcrumbs - Início
/* ******************************************** */

.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 5px 10px;
  background-color: transparent;
}

.breadcrumbs-item {
  display: block;
  position: relative;
  color: #fff;
  font-family: 'Neo Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
}

.breadcrumbs-item:not(:nth-last-child(1)) {
  margin: 0 20px 0 0;
}

.breadcrumbs-item::after {
  content: '\00BB';
  display: block;
  position: absolute;
  top: 0;
  right: -13px;
  width: auto;
  height: auto;
}

.breadcrumbs-item:nth-last-child(1)::after {
  display: none;
}

.breadcrumbs-item.active {
  font-weight: 600;
}

/* Breadcrumbs - Fim
/* ******************************************** */  


/* Hero - Início
/* ******************************************** */

.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
}

.hero-slides {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.hero-slide::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

background: rgba(0,0,0,0);
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.34) 59%, rgba(0,0,0,0.6) 77%, rgba(0,0,0,0.66) 91%, rgba(0,0,0,0.7) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(22%, rgba(0,0,0,0)), color-stop(35%, rgba(0,0,0,0)), color-stop(59%, rgba(0,0,0,0.34)), color-stop(77%, rgba(0,0,0,0.6)), color-stop(91%, rgba(0,0,0,0.66)), color-stop(100%, rgba(0,0,0,0.7)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.34) 59%, rgba(0,0,0,0.6) 77%, rgba(0,0,0,0.66) 91%, rgba(0,0,0,0.7) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.34) 59%, rgba(0,0,0,0.6) 77%, rgba(0,0,0,0.66) 91%, rgba(0,0,0,0.7) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.34) 59%, rgba(0,0,0,0.6) 77%, rgba(0,0,0,0.66) 91%, rgba(0,0,0,0.7) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0) 35%, rgba(0,0,0,0.34) 59%, rgba(0,0,0,0.6) 77%, rgba(0,0,0,0.66) 91%, rgba(0,0,0,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

}

.hero-slide {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 20% 70%;
}

.hero-titles::before {
  content: '';
  display: none;
  position: absolute;
  top: -25px;
  width: 10%;
  height: 4px;
  background-color: #FCC633;
}

.hero-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 1100px;
  margin-top: 100px;
  z-index: 400;
}

.hero-titles p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Lemon/Milk', sans-serif;
  text-align: center;
}

.hero-pretitle {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .hero-pretitle {
    font-size: 18px;
  }
  
  .hero-title {
    font-size: 54px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}

/* LARGE SCREEN (>1350px) */
@media only screen and (min-width: 1350px) {
  .hero-wrapper { width: 1350px; }
}

/* Hero - Fim
/* ******************************************** */


/* Section - Início
/* ******************************************** */

.box1 {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #191970;
}

.section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #FDF5E6;
}

.section-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #FAEBD7;
}

.section-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  padding: 50px 20px;
  margin: 0 auto;
  background-color: #F0FFF0;
}

  .section-row.small-pad {
    padding: 25px 15px;
  }

  .section-row.no-pad {
    padding: 0;
  }

    .section-row.no-pad.tb {
      padding: 50px 20px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .section-row.no-pad.lr {
      padding: 50px 20px;
      padding-left: 0;
      padding-right: 0;
    }

  .section-row.no-pad-bottom {
    padding-bottom: 0;
  }

  .section-row.full-width {
    max-width: none;
    width: 100%;
  }


/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .section-row {
    width: 748px;
    padding: 100px 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-row.small-pad {
    padding: 50px 20px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-row {
      width: 980px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1350px) {
  .section-wrapper { width: 1350px; }

  .section-row { width: 1300px; }
}

/* Section - Fim
/* ******************************************** */


/* Section Row Texts - Início
/* ******************************************** */

.row-titles {
  margin: 0 auto;
  margin-bottom: 20px;
}

.row-title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #464646;
}

.row-title.bold { font-weight: 700; }

.row-subtitle {
  font-size: 21px;
  text-align: center;
  margin: 0;
  color: #848484;
  font-weight: 400;
}

.row-subtitle.bold { font-weight: 700; }

.row-text {
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
  color: #464646;
}

  .row-text:last-child {
    margin-bottom: 0px;
  }

  .row-text p:last-child {
    margin-bottom: 0px;
  }

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 26px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .row-titles {
    width: 560px;
    margin-bottom: 24px;
  }

  .row-title {
    font-size: 36px;
  }

  .row-subtitle {
    font-size: 28px;
  }

  .row-text {
    width: 590px;
    margin-bottom: 34px;
    font-size: 18px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .row-titles {
    width: 800px;
  }

  .row-text {
    width: 590px;
  }
}

/* Section Row Texts - Fim
/* ******************************************** */


/* Section Column - Início
/* ******************************************** */

.section-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .section-column {
    width: auto;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}

/* Section Column - Fim
/* ******************************************** */


/* Section Column Titles - Início
/* ******************************************** */

.column-titles::before {
  content: '';
  display: none;
  position: absolute;
  top: -20px;
  width: 75px;
  height: 3px;
  background-color: #FCC633;
}

.column-titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  max-width: 625px;
  margin: 0;
}

.column-title::before {
  content: '';
  display: block;
  position: absolute;
  left: -2%;
  bottom: 0;
  width: 105%;
  height: 16px;
  background-color: #B6DBF3;
  z-index: -1;
  transform: skew(-25deg) rotateZ(-0.5deg) translateX(-10px) translateY(-5px);
}

.column-title {
  position: relative;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  font-weight: 700;
  z-index: 1;
}

.column-subtitle {
  margin: 10px 0 30px 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-weight: 400;
  z-index: 1;
}

.column-text {
  margin: 0;
  color: #464646;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  z-index: 1; 
}

.column-text ul {
  padding: 0;
  list-style-type: none;
}

.column-text li {
  padding: 0;
  margin: 5px 0;
  font-size: 32px;
}

.column-lateral-image {
  display: block;
  position: relative;
  margin: 0;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
}



/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {
  .column-title {
    font-size: 32px;
  }

  .column-subtitle {
    font-size: 22px;
  }

  .column-text {
    font-size: 18px;
  }
}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .column-title {
    font-size: 54px;
  }

  .column-subtitle {
    font-size: 28px;
  }

  .column-text {
    font-size: 20px;
  }

  .column-lateral-image {
    height: 300px;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {
  .column-titles {
    margin: 0 25px 0 0;
  }

  .column-title {
    font-size: 42px;
  }

  .column-subtitle {
    font-size: 24px;
  }

  .column-text {
    font-size: 18px;
  }

  .column-lateral-image {
    width: 525px;
    height: 350px;
  }
}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .column-title {
    font-size: 46px;
  }

  .column-subtitle {
    font-size: 28px;
  }

  .column-text {
    font-size: 20px;
  }
}

.section-column .picture-switcher {
  margin-top: 75px;
}

/* Section Column - Fim
/* ******************************************** */


/* Gallery - Início
/* ******************************************** */

.gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.gallery figure {
  margin: 0;
  margin-bottom: 20px;
  width: 240px;
  transition: transform 160ms ease;
  flex-shrink: 0;
}

.gallery figure:focus,
.gallery figure:hover {
  transform: scale(1.05);
}

.gallery figure:not(:nth-last-child(1)) {
  margin-right: 20px;
}

.gallery img {
  width: 100%;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}

/* Gallery - Fim
/* ******************************************** */


/* Section Modifiers - Fim
/* ******************************************** */


/* Section Modifiers - Fim
/* ******************************************** */






/* Footer - Início
/* ******************************************** */

.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #000;
}

.footer-sections {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.footer-map {
  width: 100%;
  height: 400px;
}

.footer-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 20px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.footer-content-left,
.footer-content-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.footer-content-left {}

.footer-content-right {}

.footer-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0 0 0;
}

.footer-logo {
  display: block;
  position: relative;
  width: auto;
  height: 100px;
}

.footer-logo svg {
  display: block;
  position: relative;
  width: auto;
  height: 100%;
}

/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {
  .footer-content {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .footer-content-left,
  .footer-content-right {
    flex-flow: row nowrap;
    width: auto;
  }
}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {
  .footer-content {
    padding: 50px 20px;
    width: calc(1350px - 40px);
  }
}

/* Footer - Fim
/* ******************************************** */










/* IPHONE 6 (>370px) */
@media only screen and (min-width: 370px) {}

/* ANDROID 1080p (>420px) */
@media only screen and (min-width: 420px) {}

/* SMARTPHONE (>520px) */
@media only screen and (min-width: 520px) {}

/* TABLET (>767px) */
@media only screen and (min-width: 767px) {}

/* DEFAULT (>979px) */
@media only screen and (min-width: 979px) {}

/* LARGE SCREEN (>1199px) */
@media only screen and (min-width: 1199px) {}



/**
* ********************************************
*
* IPHONE 6 (>370px)
*
* ********************************************
*/
@media only screen and (min-width: 370px) {}


/**
* ********************************************
*
* ANDROID 1080p (>420px)
*
* ********************************************
*/
@media only screen and (min-width: 420px) {}


/**
* ********************************************
*
* SMARTPHONE (>520px)
*
* ********************************************
*/
@media only screen and (min-width: 520px) {}


/**
* ********************************************
*
* TABLET (>767px)
*
* ********************************************
*/
@media only screen and (min-width: 767px) {}


/**
* ********************************************
*
* DEFAULT (>979px)
*
* ********************************************
*/
@media only screen and (min-width: 979px) {}


/**
* ********************************************
*
* LARGE SCREEN (>1199px)
*
* ********************************************
*/
@media only screen and (min-width: 1199px) {}


/**
* ********************************************
* Helper Classes
* ********************************************
*/

/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
color: #000 !important; /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
}
